<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>注册</title>
        <link rel="stylesheet" href="{__CSS__}/base.css" />
        <link rel="stylesheet" href="{__ICONFONT__}/iconfont.css" />
        <link rel="stylesheet" href="{__CSS__}/common.css" />
        <link rel="stylesheet" href="{__CSS__}/register.css" />
        <script src="{__JS__}/jQuery/jquery.min.js"></script>
        <script src="{__JS__}/gverify.js"></script>
        <script src="{__JS__}/common.js"></script>
        <script src="{__JS__}/register.js"></script>
    </head>
    <body>
        <div id="login">
            <h1>物流配送管理系统</h1>
            <div class="left"></div>
            <div class="right">
                <h2>欢迎注册</h2>
                <form action="" method="">
                    <div>
                        <i class="iconfont iconxingming"></i>
                        <input type="text" placeholder="用户名·长度4-10位,非空字符" name="username" id="username" autocomplete="off" />
                        <span class="errInfo">*用户名输入格式不正确</span>
                        <i class="showI iconfont icongou"></i>
                    </div>
                    <div>
                        <i class="iconfont iconmima"></i>
                        <input type="password" placeholder="密码·长度6-12位,英文数字组成" name="password" id="password" autocomplete="off" />
                        <span class="errInfo">*密码输入格式不正确</span>
                        <i class="showI iconfont icongou"></i>
                    </div>
                    <div>
                        <i class="iconfont iconmima"></i>
                        <input type="password" placeholder="确认密码" id="password2" autocomplete="off" />
                        <span class="errInfo">*两次输入密码不一致</span>
                        <i class="showI iconfont icongou"></i>
                    </div>
                    <div>
                        <i class="iconfont iconyanzhengma"></i><input type="text" placeholder="验证码" id="captcha" />
                        <div id="yzm" title="看不清？点击换一张"></div>
                    </div>
                    <p><input type="submit" value="立即注册" id="submit" /></p>
                    <p>已有账号？<a href="login">立即登录</a></p>
                </form>
            </div>
        </div>
    </body>
</html>
