<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>物流管理系统</title>
        <link rel="stylesheet" href="{__LAYUI__}/css/layui.css" />
        <script src="{__JS__}/jQuery/jquery.min.js"></script>
        <script src="{__LAYUI__}/layui.js"></script>
        <style>
            html,body{
                height: 100%;
            }
            .layui-fluid{
                height: 100%;
                display: flex;
                padding: 80px;
                justify-content: center;
            }
            .layui-icon{
                color: #048a7c;
                font-size: 300px;
            }
            .layui-text{
                margin-top: 20px;
                text-align: center;
                color: #048a7c;
            }
        </style>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layadmin-tips">
                <i class="layui-icon" face=""></i>
                <div class="layui-text" style="font-size: 20px">当前管理员权限不足！</div>
            </div>
        </div>
    </body>
</html>
