{include file="public/admin" selfJS='index' /}
<!-- 引入独立依赖的js -->
<script src="{__JS__}/echart/echarts.min.js"></script>
<div class="admin_index">
    <div class="echart_item">
        <div class="layui-card-header">操作系统人数</div>
        <div class="layui-card-body" id="bar1">
        </div>
    </div>
    <div class="echart_item">
        <div class="layui-card-header">订单状态</div>
        <div class="layui-card-body" id="bar2">
        </div>
    </div>
    <div class="echart_item">
        <div class="layui-card-header">车辆状态</div>
        <div class="layui-card-body" id="bar3">
        </div>
    </div>
    <div class="echart_item">
        <div class="layui-card-header">司机状态</div>
        <div class="layui-card-body" id="bar4">
        </div>
    </div>
    <div class="echart_item">
        <div class="layui-card-header">货物类型</div>
        <div class="layui-card-body" id="bar5">
        </div>
    </div>
    <div class="echart_item">
        <div class="layui-card-header">寄件方式</div>
        <div class="layui-card-body" id="bar6">
        </div>
    </div>
    <div class="padding-50"></div>
</div>
{include file="public/adminEnd" /}
